.form {
  width: 100%;

  .el-input__inner {
    font-weight: bolder;
    border-radius: 20px;
    height: 40px;
    background-color: #f1f1f1;
    border-width: 0;
  }

  //  选中
  .active {
    .el-input__inner {
      background-color: #cbdbe9;
    }
  }
  //  输入框
  .inputs {
    border: 1px solid #000;
    height: 200px;
    background-color: #1b2049;

    .el-input__inner {
      width: 400px;
    }

    .el-input-group__append {
      border-radius: 50%;
      transform: translateX(-20px);
      background-color: #036eb7;
      color: #fff;

      .el-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-width: 0;
        font-size: 18px;
      }
    }
  }

  //   全部按钮
  .btn {
    .el-button {
      font-weight: bolder;
      width: 100%;
      height: 40px;
      border-radius: 20px;
      border: 2px solid #000;

      span {
        padding: 0 20px;
      }
    }
  }
}
