* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 背景条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: none;
  border-radius: 4px;
  transition: 0.3s;
}

// 拖拽按钮
::-webkit-scrollbar-thumb {
  min-width: 15px;
  min-height: 15px;
  background: rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: 0.3s;
}

// 上下按钮
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:hover {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.16);
}

// element样式
.el-form .el-input {
  max-width: 217px;
}

.el-descriptions {
  .el-descriptions-item__container {
    margin-bottom: 16px;

    .el-descriptions-item__label {
      font-size: 14px;
      margin-right: 28px;
    }

    .el-descriptions-item__content {
      color: #0009;
    }
  }
}
